.card-info {
  width: 100%;
  top: 100px;
}

.login-page-body {
  height: 100vh;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #928dab,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title {
  font-size: 32px;
  text-align: center;
}
.table {
  margin-top: 10px;
}
table {
  border: 1px solid black;
  width: 80%;
}
.timer {
  color: firebrick;
}
