.dashboard-page-body {
  min-height: -webkit-fill-available;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #928dab,
    #00d2ff
  );
}
.left-block {
  top: 118px;
  margin-left: 20px !important;
}
.right-block {
  position: fixed;
  right: 40px;
  top: 103px;
  width: 22%;
  padding: 15px;
}
h5 {
  line-height: 50px;
}
.header{
  background-color: #212529;
}
.timer {
  font-size: 20px;
}
.number-tag-unsolved {
  text-align: center;
  background-color: #eb922e;
  color: #fff;
  border: 1px solid rgb(167, 162, 238);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}
.number-tag-solved {
  text-align: center;
  background-color: #16a808;
  color: #fff;
  border: 1px solid rgb(167, 162, 238);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
